extends layout

block content
  form.custom
    h3 Set Pumps
    .button Add Liquid
    h5 Pump 1
      select.medium#liquids
        option This is another option
        option This is another option too
        option Look, a third option
    h5 Pump 2
      select#liquids
        option This is another option
        option This is another option too
        option Look, a third option
  h2 Add New Liquid


  script
    $(document).foundation();

    $('.pumps').click(funtion(){
      console.log
    });




