extends layout

block content
  h1 Welcome to the Shwastinator

  .button#pour Pour Shot!
  .button#stop No more!

  script
    var socket = io.connect('192.168.2.37:3000');
    
    $('#pour').click(function(){
      socket.emit('motor on');
      return false;
    });

    $('#stop').click(function(){
      socket.emit('motor off');
      return false;
    });  