extends layout

block content
  if (topDrinks)
    .row
      .small-12.columns
        .slideshow-wrapper
          ul(data-orbit='data-orbit')
            for drink in topDrinks.reverse()
              li
                .row
                  .small-2.columns
                    br
                  .small-4.columns
                    img(src=drink.image)
                  .small-4.columns
                    h1 #{drink.name}
                  .small-2.columns
                    &nbsp
                .orbit-caption #{drink.name} $#{drink.price}
  .row
    .small-12.columns
      include showDrink

  script.
    // var socket = io.connect('localhost');
    $('.order').click(function(){
      console.log($(this).attr('data-caption'));
      $.post('/orderDrink', {drinkOrdered: $(this).attr('data-caption')})
      return false;
    })  