extends layout

block content
  .row
    h1 Shwastinator
  .row
    .button.small-12.column#motor1 Motor 1
  .row
    .button.small-4.large-2.column#motor2 Motor 2
  script
    var socket = io.connect('192.168.2.37:3000');
    // var socket = io.connect('localhost');

    $('#motor1').click(function(){
      socket.emit('motor 1');
      return false;
    });

    $('#motor2').click(function(){
      socket.emit('motor 2');
      return false;
    });  
