doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

    title= title
    
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src='/javascripts/vendor/custom.modernizr.js')
    script(src="/socket.io/socket.io.js")
    script.
      document.write('<script src=' + ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') + '.js><\/script>') 


  body
    block content
    script(src="/javascripts/foundation.min.js")
    script.
      $(document).foundation();   
