ul.side-nav.hide-for-small
  li 
    h5 Hello #{user.name}
  li.divider
  li.navlink
      a(href='/') Home
  li.navlink
    a(href='/profile') Profile
  li.navlink
    a(href='/allUsers') All Users
  li.divider
  if (user.admin)
    li
      h5 Admin Pages
    li.navlink
      a(href='/admin') Set Up Shwastinator
    li.navlink
      a(href='/liquid') Add another liquid
    li.navlink
      a(href='/createDrinks') Add a New Drink
    li.navlink
      a(href='/approveUsers') Approve New Users
    li.navlink
      a(href='/logPayment') Log Payment

script
  $(document).foundation();

  $('.navlink').click(function(){
    $('.navlink').removeClass("active");
    $(this).addClass("active"); 
  });