br
.row
  .small-12.columns
    a#sidebarButton.sidebar-button.show-for-small(href="#sidebar")
      ul.inline-list
        li
          img(src='images/menu.png')
        li
          h4 Shwastinator