extends layout

block content
  .row 
    .small-3.columns
      include navbar
    .small-9.columns
      .row
        .small-4.columns
          img(src='default_prof.jpg')
        .small-8.columns
          h1 #{user.name}
          h3 Current Tab $#{user.tab}
      .row
        for order in user._orders.reverse()
          h5= order.name