extends layout

block content
  h1 Please Log In or Sign Up to use 
  h1 The Shwastinator
  .loginbuttons.centerbuttons(style='margin-top:40px;')
    a(href = '/signin')
      button(type='button')
        b Sign In
    a(href = '/signup')
      button(type='button')
        b Sign Up